<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="../static/mobile.css">
    <link rel="stylesheet" href="../static/service.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbarresp ">
        <div class="logo logoresp">
            <img src="../static/logo.jpg" alt="logo">
            <div>The blog</div>
            

        </div>
        <ul class="navlist navlistresp">
            <a class="ulresp"href="/"><li>Home</li></a>
            <a class="ulresp" href="/about"><li>About</li></a>
           <div class="dropdown">
                <a class="ulresp">
                    
                    <button class="btn" id="butn" onclick="toggleHide()"><li>Services</li></button>
                
                </a>
            <div class="drop-content" id="drop-content">
                <a href="https://www.google.com">Service1</a>
                <a href="#">Service1</a>
                <a href="#">Service1</a>
            </div>
        </div>
           
        </ul>
    </nav>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div><hr></div>
    <div class="sec1">
        <div class="subsec1">
        <span><h3>Get Your blog Going!!</h3></span>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione quod laudantium quia sequi nobis eos aperiam? Eos id non et voluptas odio. Ut, aperiam! Numquam, quia inventore! Velit modi eligendi repudiandae eos consequatur veniam.</p> </div>
        <div class="logobig"><img src="../static/logo.jpg" alt="logo"></div>
          
    </div>    
    <div class="start1"><hr></div>
    
    <div class="sec2">
        
         
          <div class="content">
        
             <div class="blog1">
                 <img src="../static/logo1.jpg" alt="img">
                 <div class="mini">
                        
                     
                     <div class="matter">
                    
                     <h3>This is blog for something interesting!!</h3>
                     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, eos optio voluptatum iure quasi possimus?</p>
                     
                    </div>
                    
                    
                 </div>
             </div>
             <div class="blog1">
                 <img src="../static/logo2.jpg" alt="img">
                 <div class="mini">
                        
                     
                     <div class="matter">
                    
                     <h3>This is blog for something interesting!!</h3>
                     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, eos optio voluptatum iure quasi possimus?</p>
                    </div>
                 </div>
             </div>
             <div class="blog1">
                 <img src="../static/logo4.jpg" alt="img">
                 <div class="mini">
                        
                     
                     <div class="matter">
                    
                     <h3>This is blog for something interesting!!</h3>
                     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, eos optio voluptatum iure quasi possimus?</p>
                    </div>
                 </div>
             </div>
             <div class="blog1">
                 <img src="../static/logo3.jpg" alt="img">
                 <div class="mini">
                        
                     
                     <div class="matter">
                    
                     <h3>This is blog for something interesting!!</h3>
                     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, eos optio voluptatum iure quasi possimus?</p>
                    </div>
                 </div>
             </div>
             <div class="blog1">
                 <img src="../static/logo2.jpg" alt="img">
                 <div class="mini">
                        
                     
                     <div class="matter">
                    
                     <h3>This is blog for something interesting!!</h3>
                     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, eos optio voluptatum iure quasi possimus?</p>
                    </div>
                 </div>
             </div>
          </div>
          <div class="sidecontent">
           <div class="imgpic">
               <h3>Know About Author</h3>
               <div class="pic1">
               <img src="../static/pic1.jpg" alt="pic1"></div>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dicta explicabo inventore corporis libero quos reprehenderit quaerat neque, culpa ipsa maxime recusandae beatae animi. Fugiat voluptatibus tenetur delectus sapiente illum voluptates aut impedit. Corrupti? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus unde, facilis soluta nostrum fugit amet quibusdam accusantium repellat aliquid ad sit minima natus doloribus fugiat! Odio voluptatum minima expedita fuga illo placeat. Sequi, cumque.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo iusto, nesciunt quasi repellat similique praesentium ipsa atque dolorem optio! Asperiores illo consectetur, reiciendis deleniti saepe quasi qui sapiente? Quam magnam itaque optio rerum nemo?</p>
           </div>

          </div>
          

    </div>
   
    <script src="../static/mobile.js"></script>
   
</body>
<footer class="footer">
    <a href="https://www.vecteezy.com/free-vector/blog">Blog Vectors by Vecteezy</a>
</footer>  
</html>